.big-container {
    width: 100%;
}
.form-contact {
    height: 100vh;
    width: 100%;

    .form-contact-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: 100%;
        overflow: hidden;

        .form-box.left {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .form-box.right {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

        }

        .form-box-content {
            width: 100%;
            padding: 0 10%;
        }

        .form-left-card {
            width: 95%;
            height: 95%;
            margin-left: 10px;
            border-radius: 40px;
            overflow: hidden;
            // aspect-ratio: 1;
            // clip-path: shape(from 81.51% 46.86%,curve to 87.45% 54.40% with 83.48% 50.00%,curve to 91.63% 63.72% with 91.41% 58.80%,curve to 82.03% 67.39% with 91.85% 68.63%,curve to 72.75% 71.01% with 72.21% 66.14%,curve to 72.12% 81.08% with 73.30% 75.88%,curve to 68.00% 91.30% with 70.95% 86.29%,curve to 58.94% 86.65% with 65.05% 96.31%,curve to 48.85% 87.93% with 52.84% 76.98%,curve to 41.48% 92.76% with 44.86% 98.88%,curve to 37.94% 78.90% with 38.09% 86.65%,curve to 34.06% 71.49% with 37.79% 71.16%,curve to 26.99% 70.49% with 30.34% 71.83%,curve to 18.77% 67.61% with 23.64% 69.15%,curve to 12.52% 62.17% with 13.90% 66.07%,curve to 15.44% 54.13% with 11.13% 58.26%,curve to 17.14% 46.23% with 19.75% 50.00%,curve to 11.14% 36.82% with 14.54% 42.46%,curve to 12.03% 28.36% with 7.74% 31.18%,curve to 22.25% 25.65% with 16.31% 25.53%,curve to 32.25% 26.03% with 28.19% 25.78%,curve to 39.58% 27.14% with 36.30% 26.27%,curve to 44.33% 19.08% with 42.85% 28.00%,curve to 50.48% 5.62% with 45.81% 10.17%,curve to 57.36% 10.79% with 55.14% 1.07%,curve to 65.89% 16.03% with 59.58% 20.51%,curve to 72.88% 17.70% with 72.20% 11.55%,curve to 73.75% 28.22% with 73.55% 23.84%,curve to 81.88% 32.44% with 73.94% 32.61%,curve to 84.67% 38.00% with 89.82% 32.27%,curve to 81.51% 46.86% with 79.53% 43.72%);
        }

        .form-left-image {
            width: 100%;
            height: 100%;
            // background-image:
            // linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            // url("../images/1.png");
            background-position: center;
            background-size: cover;
            background-color: #b83b3b;
        }
        
        .form-box {
            width: 100%;
            height: 100%;
        }

        .form-box-content-title {
            h1 {
                font-size: 40px;
                // color: #832c2c;
                color: #411616;
                // font-family: "Inter";
                // font-family: "League Spartan", sans-serif;
                // font-weight: 600;
            }

            p {
                margin-top: 15px;
            }
            
            span {
                color: #b83b3b;
            }
        }



        .form-contact-field {
            width: 100%;
            margin-top: 40px;

            .form-contact-row {
                display: flex;
                gap: 15px;
                align-items: center;
                width: 100%;

                .form-contact-input {
                    width: 100%;
                }
            }

            .form-contact-input {
                margin-top: 15px;

                label {
                    span {
                        font-size: 14px;
                        font-family: "Open Sans";
                        color: #b83b3b;
                    }
                }
                
                .form-contact-bg {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    margin-top: 5px;
                    // background-color: #;
                    border: 1.5px solid #e9e0e0;
                    // width: 100%;
                    padding: 12px;
                    border-radius: 20px;

                    input,textarea {
                        width: 100%;
                        border: none;
                        outline: none;
                        background-color: transparent;

                        &::placeholder {
                            // font-size: 10px;
                        }
                    }
                }
            }
        }

        .home-button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;

            .button-more {
                background-color: #b83b3b;
                color: #fff;
                border: 1.5px #832c2c solid;
                padding: 13.5px 30px;
                border-radius: 50px;
                transition: all 300ms ease-in-out;

                &:hover {
                    background-color: #a10000;
                }
            }

            .button-home-contact {
                border: 1.5px #832c2c solid;
                padding: 13.5px 30px;
                border-radius: 50px;
                color: #832c2c;
                transition: all 300ms ease-in-out;

                &:hover {
                    color: #fff;
                    background-color: #832c2c;
                }
            }
        }

    }
}