.input-error {
    color: #dc2626;
    font-size: 12px;
    margin-top: 4px;
    display: none;
}

.form-step-input.error .input-error {
    display: block;
}

.form-step-input.error input {
    border-color: #dc2626;
}

button.next.disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
    
.devis {
    height: 100vh;
    width: 100%;

    .devis-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .devis-box {
            width: 100%;

            &:nth-child(1) {
                width: 100%;
                height: 100%;
                background-color: #b83b3b;
            }

            form {
                position: relative;
                padding: 120px 10% 0 10%;
                // padding: 120px 0;
            }
        }
    }
}

.steps {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .step-bulle {
        display: flex;
        align-items: center;
        flex-direction: column;

        i {
            color: #fff;
        }

        p {
            margin-top: 10px;
        }
    }
}

.step {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #ddd;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: 0.3s;
}

.step.active {
    background: #b83b3b;
    color: #fff;
}

.step.completed {
    background: #2ecc71;
    color: #fff;
}

/* Mode traitement & confirmation : aucune bulle */
.steps.processing-mode .step-bulle,
.steps.confirmation-mode .step-bulle,
.steps.error-mode .step-bulle {
    display: none;
}

.form-step {
    display: none;

    .text-step {
        margin-bottom: 10px;
        color: #6d6d6d;
        font-style: italic;
    }

    h2 {
        font-size: 40px;
    }



    .form-step-row {
        display: flex;
        gap: 15px;
        align-items: center;
        width: 100%;
    }

    .form-step-input.space, 
    .form-step-row.space {
        margin-top: 40px;
    }

    .form-step-input {
        margin-top: 15px;
        width: 100%;

        label span {
            color: #b83b3b;
        }

        .form-step-input-bg {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-top: 5px;
            border: 1.5px solid #e9e0e0;
            padding: 12px;
            border-radius: 20px;

            input {
                width: 100%;
                border: none;
                outline: none;
                background-color: transparent;
            }
        }

        .form-step-select-bg {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-top: 5px;
            border: 1.5px solid #e9e0e0;
            padding: 12px;
            border-radius: 20px;
        }

        .form-step-textarea-bg {
            margin-top: 5px;
            border: 1.5px solid #e9e0e0;
            padding: 12px;
            border-radius: 20px; 

            textarea {
                min-width: 100%;
                max-width: 100%;

                min-height: 150px;
                max-height: 150px;
            }
        }
    }

    .form-upload {
        &.space {
            margin-top: 40px;
        }

        .drop-zone {
            border: 1.5px dashed #e9e0e0;
            border-radius: 30px;
            padding: 40px;
            text-align: center;
            cursor: pointer;
            transition: 0.3s ease;
            // background: #fafafa;
        }

        .drop-zone i {
            font-size: 32px;
            // color: #888;
            color: #6c63ff;
            margin-bottom: 20px;
        }

        .drop-zone span {
            color: #6c63ff;
            font-weight: 600;
        }

        .form-text {
            margin-top: 15px;
            p {
                margin-bottom: 5px;
                font-size: 12px;
                color: #6d6d6d;
            }
        }

        .drop-zone.dragover {
            border-color: #6c63ff;
            background: #f2f1ff;
        }

        .file-list {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 15px;
            list-style: none;
            padding: 0;
        }

        .file-list li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1.5px solid #e9e0e0;
            padding: 12px;
            border-radius: 20px;

            .file-icon {
                width: 44px;
                height: 44px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;

                img {
                    height: 30px;
                    width: 30px;
                    object-fit: contain;
                }
            }

            /* Couleurs par format */
            .file-icon.icon-doc {
                background-color: #c5e0f6;
            }

            .file-icon.icon-jpg {
                background-color: #bdd1fb;
            }

            .file-icon.icon-pdf {
                background-color: #f9a8a8;
            }

            .file-icon.icon-png {
                // background-color: #d6f6ce;
                background-color: #c9ecc0;
            }

            .file-icon.icon-default {
                background-color: #e0e0e0;
            }

            .file-info {
                display: flex;
                align-items: center;
                gap: 10px;

                .file-extension-size {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;

                    .file-name {
                        font-weight: 600;
                    }

                    .file-meta {
                        color: #6d6d6d;
                    }
                }
            }

            .file-remove {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: 1.5px solid #e9e0e0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                box-shadow: 0 0px 7px 0px #e5e5e5;

                i {
                    color: #6d6d6d;
                }
            }
        }
    }
}

.form-step.active {
    display: block;
    animation: fade 0.3s ease-in-out;
}

@keyframes fade {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.nav-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-step-button {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .prev {
        display: flex;
        gap: 5px;
        align-items: center;
        border-bottom: 1px solid #411616;
        padding-bottom: 5px;
    }
    
    .next {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #411616;
        padding: 10px 10px 10px 30px;
        border-radius: 50px;
        transition: all 300ms ease-in-out;
        
        &:hover {
            background-color: #6f0e0e;
        }
    
        p {
            color: #411616;
            color: #fff;
            transition: all 300ms ease-in-out;
        }
    
        .offer-button-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: #832c2c;
    
            i {
                color: #fff;
            }
        }
    }
    
    .back-home-button {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #411616;
        padding: 10px 10px 10px 30px;
        border-radius: 50px;
        transition: all 300ms ease-in-out;
        
        &:hover {
            background-color: #6f0e0e;
        }
    
        p {
            color: #411616;
            color: #fff;
            transition: all 300ms ease-in-out;
        }
    
        .back-home-button-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: #832c2c;
    
            i {
                color: #fff;
            }
        }
    }
}