.big-container {

    .faq {
        padding: 0 3%;
        
        .faq-container {
            padding-top: 150px;

            h1 {
                text-align: center;
                font-size: 70px;
                color: #832c2c;
            }
        }
    }
}