.services {
    // background-color: #760000;
    background-color: #832c2c;
    width: 100%;
    
    .service-container {
        // display: flex;
        padding: 100px 3%;

        h1 {
            font-size: 60px;
            color: #fff;
        }

        p {
            margin-top: 20px;
            color: #fff;
        }
    }
}