.services {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 3%;
    // background-color: #f6f4f4;
    background-color: #fff;

    .services-title {
        text-align: center;

        p {
            margin-bottom: 10px;
            color: #6d6d6d;
            font-style: italic;
        }

        h1 {
            color: #411616;
            font-size: 60px;
        }
    }
    
    .service-bg {
        padding: 80px 40px;
        // background-color: #411616;
        background-color: #f4f1f1;
        border-radius: 30px;
    }

    .service-bg-title {
        text-align: center;

        h1 {
            color: #832c2c;
            font-size: 60px;
        }

        p {
            // margin: 20px 0 40px 0;
            color: #832c2c;
            font-size: 18px;
            font-style: italic;
            margin-top: 10px;
        }
    }
    
    .service-container {
        margin-top: 40px;

        .service-container-title {
            h2 {
                // text-align: center;
                font-size: 30px;
                // color: #411616;
                color: #832c2c;
            }

            p {
                color: #832c2c;
                font-style: italic;
                margin-top: 10px;
            }

        }


        .service-container-grid {
            // margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
            max-width: 1200px;
            margin: 60px auto;
            border-radius: 15px;
        }

        .service-box {
            // background-color: #411616;
            // background-color: #4d2424;
            background-color: #fff;
            padding: 30px;
            border-radius: 30px;

            .service-box-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 45px;
                width: 45px;
                background-color: #4d2424;
                background-color: #b83b3b;
                border-radius: 50%;
            }
            
            i {
                color: #832c2c;
                color: #fff;
                font-size: 20px;
            }
            
            h1 {
                margin: 20px 0;
                font-size: 25px;
                color: #fff;
                color: #832c2c;
                // font-weight: 400;
            }
    
            p {
                color: #fff;
                color: #832c2c;
            }

            .service-box-button {
                margin-top: 40px;
    
                a {
                    display: inline-flex;
                    gap: 5px;
    
                    &:hover p {
                        text-decoration: underline;
                    }
                    
                    p {
                        color: #832c2c;
                        font-weight: 500;
                    }
    
                    .service-box-button-icon {
                        i {
                            font-size: 12px;
                            color: #832c2c;
                        }
                    }
                }
            }
        }
    }

    .service-button {
        margin-top: 40px;
        display: flex;
        justify-content: center;

        a {
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: #b83b3b;
            padding: 10px 10px 10px 30px;
            border-radius: 50px;
            transition: all 300ms ease-in-out;
            
            &:hover {
                background-color: #a10000;
            }

            p {
                color: #fff;
            }

            .service-button-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                background-color: #df6262;
                i {
                    color: #fff;
                }
            }
        }
    }
}