.shop {
    margin-top: 50px;
    background-color: #fff;
    width: 100%;
    
    .shop-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        // display: flex;
        padding: 20px 3%;

        .shop-box {
            width: 100%;

            &:nth-child(2) {
                text-align: end;
            }
            
            h1 {
                font-size: 60px;
                color: #832c2c;
                padding-bottom: 20px;

                span {
                    font-size: 60px;
                    color: #b83b3b;
                    font-family: "DM Serif Text", serif;
                }
            }

            iframe {
                border-radius: 30px;
                height: 300px;
                width: 100%;
            }
        }
    }

    .work-schedule {
        margin-top: 60px;

       .work-schedule-container {
        h1 {
            text-align: center;
            font-size: 40px;
            color: #832c2c;
        }

        .work-schedule-box {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 100px;
        }
       }
    }
}