@import "../components/navbar";
@import "../components/home";
@import "../components/offer";
@import "../components/services";
@import "../components/shop";
@import "../components/soon";
@import "../components/contact";
@import "../components/footer";
@import "../components/faq";
@import "../components/products";
@import "../components/offer-assurance";
@import "../components/help";
@import "../components/devis";